{% extends "base.html" %}
{% block content %}
  <main class="container">
        <header class="header">
            <h1>URL Shortener</h1>
            <h2>Abidov Arslan's pet project</h2>
        </header>
        <section class="d-flex justify-content-center url-form">
            <form method="POST" class="">
                <div class="url-form-title">
                    Paste the URL to be shortened
                </div>
                <input type="url" class="url-form-input form-component" placeholder="Enter the link here">
                <button type="submit" class="url-form-button form-component">Shorten URL</button>
                <div class="url-form-description">
                    {{ texts.under_form_text }}
                </div>
            </form>
        </section>
        <section class="d-flex flex-column justify-content-center advantages">
            <div class="advantages-item">
                <div class="advantages-item-title">{{ texts.after_form_text_title1 }}</div>
                <div class="advantages-item-description">{{ texts.after_form_text_description1 }}</div>
            </div>
            <div class="advantages-item">
                <div class="advantages-item-title">{{ texts.after_form_text_title2 }}</div>
                <div class="advantages-item-description">{{ texts.after_form_text_description2 }}</div>
            </div>
        </section>
    </main>
    <footer class="d-flex flex-column justify-content-center footer">
        © {{ texts.copyright_text }}
    </footer>
{% endblock content %}
